body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}
p{
    margin-top: 0;
}
/*Titulos*/
div#Titulo{
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42px;
}

/*PARTE PRINCIPAL*/

a{
    text-decoration: none;
}

.header{
    background: rgb(27, 69, 255);
    padding-inline: 16px;
}
.nav{
    max-width: 1300px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-block: 16px;
}

.hero{
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./img/bgd.png");
}

.menu-btn{
    display: none;
    border: none;
    cursor: pointer;
    background: none;
    border-top: 3px solid rgb(255, 255, 255);
    padding: 0;
}
.menu-btn::before,
.menu-btn::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin-top: 5px;
}

@media (max-width: 1150px){
    .menu-btn{
        display: block;
        z-index: 2;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background: rgb(0, 0, 171);
        clip-path: circle(100px at 90px -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .nav-list{
        clip-path: circle(1500px at 90px -15%);
        pointer-events: all;
    }
}