/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
  }
  
  body {
    position: fixed;
    top: 0;
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #0056c0;
    background-image: url(img/BG_beach.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    
  }

  .contador {
    font-size: 20px;
    border: solid black 10px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-inline: 30%;
    margin-bottom: 15px;
  }

  main.Numero{
    font-size: 25px;
    margin-top: 16%;
    margin-inline: 5%;
    text-align: right;
    
  }

 #diaFeriado{
    margin: 20px;
    
    font-weight: 600;
    font-size: 140px;
    color: rgb(255, 255, 255);
    text-shadow:
    3px 3px 6px black,
    0 0 6em rgb(6, 6, 69),
    0 0 0.5em rgb(4, 4, 85);
 }

 .rodape {
  color: black;
    background-color: #65a1fc84;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px; 
 }

 .rodape p{
    margin-top: 6px;
 }


